
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


.container {
    display: grid;
    /* grid-template: auto auto / clamp(min-content, 1fr, 200px) clamp(min-content, 9fr, auto); */
    grid-template: auto auto / 1fr 9fr;
} /* might have to set min height for the two rows (header and content area) due to the auto row designation */
/* for the sidebar left column I want the column to shrink and only show the icons when the screen size gets very small,
would have to make the icons the 'min-content' such that the words are hidden, maybe would have to hide overflow. Can also maybe set a min width on the icons or the words or their containers 
May have to also make the second column min value overtake the first column min value.*/
/* Would have to set the min-content value of the second column equal to one project card, see how other components react
revise/ see reaction of 100 vw designation for the max value in second column clamp function */

.header {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template: repeat(2, min-content) / auto;
    height: min-content;
    width: auto;
}

.header-top-cont{
    padding: 10px 40px 10px 20px;
    display: grid;
    grid-template: min-content/ max-content auto max-content;
    align-items: center;
    width: inherit;

}

.header-top-cont > .icon {
    justify-self: end;
}

.header-profile-card {
    display: flex;
    align-items: center;
    justify-content: center;

    width: max-content;
    height: min-content;
    font-weight: 500;

   justify-self: end;
}

.header-profile-card img {
    padding: 0 20px 0 20px;
}

.searchbar-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: min-content;
    width: max-content;
}

.searchbar-cont label {
    padding: 0 20px 0 0;
}

.searchbar-cont input {
    border-radius: 25px;
    border: 0px solid white;
    height: 20px;
    background-color: #e2e8f0;
    padding: 5px 5px 5px 10px;
    width: max(150px, 40vw);
}

.header-bottom-cont {
    width: inherit;

    padding: 10px 40px 30px 20px;

    display: grid;
    grid-template: min-content/ auto min-content;
    align-items: center;
}

.header-avatar-main {
    width: 80px;
    height: 80px;
}

.header-avatar-alt {
    width: 40px;
    height: 40px;
}

.header-greeting-cont {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.header-greeting-cont img {
    padding-right: 20px;
}

.header-bottom-cont button {
    font-family: 'Roboto', sans-serif;
    padding: 10px 25px;
    border: 0px solid white;
    border-radius: 25px;
    font-size: 18px;
    background-color: #6063fa;
    color: white;

}

.header-button-cont {
    justify-self: end;

    display: flex;
    justify-content: flex-end;
    gap: 25px;
}
/* sidebar stuff*/




.sidebar-left {
    background-color: #6063fa;
    width: clamp(55px, 250px, 25vw);
    /* in-width: 55px; */ /* subject to change, see long comment above */
    overflow: hidden;
    color: white;
    padding: 10px 0 0 10px;

    grid-area: 1 / 1 / 3 / 2;


    display: grid;
    grid-template: min-content 20px repeat(6, min-content) 20px repeat(3, min-content) / min-content 1fr;
    column-gap: 5%;
}



.icon {
    border-radius: 50%;
    width: min-content;
    height: min-content;
    padding: 6px;
    cursor: pointer;

    box-sizing: border-box;
}

.sidebar-left > .icon {
    grid-column: 1 /2;
    justify-self: center;
}

.icon-name {
    align-self: center;
    grid-column: 2/3;
    cursor: pointer;
    padding-left: 5%;
    box-sizing: border-box;

}

h2.icon-name {
    font-size: 18px;
    font-weight: 500;
}

h1.icon-name {
    font-size: 24px;
    font-weight: 500;
}

ul {
    list-style: none;
    height: max-content;
}


.content-area {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #e2e8f0;
    box-shadow: inset 0px 5px 9px -5px #bdc2c9;
}